<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#111" media="(prefers-color-scheme: dark)">
  <meta name="theme-color" content="#FFF" media="(prefers-color-scheme: light)">
  <meta name="color-scheme" content="dark light">
  <script>
    /* javascript isn't necessary for theming, but will allow for site-wide
    persistence via localStorage */
    if (localStorage.getItem("theme") === "alt") {
      document.documentElement.classList.add("preload_alt");
    }
    function whichChecked() {
      if (localStorage.getItem("theme") === "alt") {
        document.getElementById("radio_alt").checked = true;
      } else if (localStorage.getItem("theme") === "def") {
        document.documentElement.classList.remove("preload_alt");
        document.getElementById("radio_def").checked = true;
      }
    }
    /* fire whichChecked() on bfcache load too. this flashes, unfortunately */
    window.addEventListener('pageshow', e => {
      if (e.persisted) whichChecked();
    });
    function defClick() {
      localStorage.setItem('theme', 'def')
      document.documentElement.classList.remove("preload_alt");
    }
    function altClick() {
      localStorage.setItem('theme', 'alt')
    }
  </script>
  <link rel="stylesheet" href="/base.css">
  <link rel="stylesheet" href="/Iosevka.css">
  {% block head %}
  {% endblock head %}
</head>

<body onload="whichChecked();">
  <input type="radio" name="theme" id="radio_def" onclick="defClick();" checked>
  <input type="radio" name="theme" id="radio_alt" onclick="altClick();">
  <div class="whole">
    <section class="section">
      <div class="preamble">
        {% block preamble %}
        {% endblock preamble %}
      </div>
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>
    </section>
  </div>
</body>

</html>
