{% extends "base.html" %}


{% block head %}

<style>
  .label_def::after {
    content: "THEME_DARK";
  }
  .label_alt::after {
    content: "THEME_LIGHT";
  }
  @media (prefers-color-scheme: light) {
    .label_def::after {
      content: "THEME_LIGHT";
    }
    .label_alt::after {
      content: "THEME_DARK";
    }
  }
</style>

{% endblock head %}


{% block preamble %}

<label for="radio_def" class="label_def" checked></label>
<label for="radio_alt" class="label_alt"></label>

{% endblock preamble %}

