{% extends "base.html" %}


{% block head %}
<link rel="me" href="https://weirder.earth/@imyxh">

<style>
  .label_def::after {
    content: "THEME_DARK";
  }
  .label_alt::after {
    content: "THEME_LIGHT";
  }
  @media (prefers-color-scheme: light) {
    .label_def::after {
      content: "THEME_LIGHT";
    }
    .label_alt::after {
      content: "THEME_DARK";
    }
  }
</style>
{% endblock head %}


{% block content %}

<pre style="tab-size: 8;">
// SPDX-FileCopyrightText: 1970 Ivy Huang &lt;<a href="mailto:imyxh@imyxh.net">imyxh@imyxh.net</a>&gt;
// SPDX-License-Identifier: CC0-1.0
/*
 * !!! DO NOT INCLUDE THIS HEADER FILE !!!
 *
 * I was _trying_ to write up some kind of portfolio for myself but my fingers
 * slipped and I accidentally fed the site into the C preprepreprocessor. Now it
 * looks like this and my DOM throws a segfault every time I try to import
 * ReactJS. In despair I tried running this through the C prepreprocessor, but
 * then _that_ hid some CSS checkboxes where I can't find them.
 *
 * I feel like clang is punishing me for shipping bloat or something so I'm just
 * gonna make everything lightweight this time.
 *
 *   ---imyxh
 */

#include "<a href="blog">blog</a>.h<small><small><small><small><small>tml</small></small></small></small></small>"

enum theme {
	<label for="radio_def" class="label_def" checked></label>,
	<label for="radio_alt" class="label_alt"></label>,
};

const char *OPENPGP_SIG = "32C4A3942B8CD5750513F522131D20000ED25519";
const char OPENPGP_KEY[] = {
	#embed "<a href="imyxh_public.asc">imyxh_public.asc</a>"
};

</pre>

{% endblock content %}

