{% extends "base.html" %}

{% block content %}

<head>
  <link rel="me" href="https://weirder.earth/@imyxh">
</head>

<pre>
/*
 * SPDX-FileCopyrightText: 1970 Ivy Huang &lt;imyxh&commat;imyxh.net&gt;
 * SPDX-License-Identifier: CC0-1.0
 *
 * imyxh_net.c -- definition of miscellaneous constants
 */

#include "<a href="blog">blog</a>.h"
#include "<a href="imyxh_public.asc">pgp</a>.h"

// hex signature of public key (see pgp.h)
const char *OPENPGP_SIGNATURE = "32C4A3942B8CD5750513F522131D20000ED25519";
</pre>

{% endblock content %}
